@font-face {
	font-family: 'Adelphe';
	src: url('../fonts/Adelphe-FlorealRegular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baskervvol';
	src: url('../fonts/BBBBaskervvol-Fondue.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PP Neue';
		src: url('../fonts/PPNeueMontreal-Book.otf');
	font-weight: normal;
	font-style: normal;
}

