@import 'fonts.css';

:root {
	--primary-font: 'PP Neue', 'Arial', sans-serif;
	--secondary-font: '', 'Times New Roman', 'Times', serif;
	--text-color: #0f1312;
	--menu-color: #0008ff;
	--highlight-color: #e9ff00;
	--text-color-secondary: #fff;
	font-family: var(--primary-font);
	color: var(--text-color);
	font-size: 24px;
}

::selection {
	/* color: var(--text-color-secondary); */
	background-color: var(--highlight-color);
}

html,
body {
	padding: 0;
	touch-action: manipulation;
}

body {
	width: 100vw;
	overflow-y: hidden;
	overflow-x: scroll;
}

a {
	text-decoration: none;
}

a:hover {
	background-color: var(--highlight-color);
}

aside a {
	cursor: grab;

  	text-decoration: underline;
	text-underline-offset: 4px;
}

aside a:hover {
text-decoration: none;
  	background-color: var(--highlight-color);
}

aside a:hover::after {

  	/* background-color: var(--highlight-color); */
}

em {
	font-style: normal;
	text-decoration: underline;
	text-underline-offset: 4px;
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: var(--menu-color);
	align-items: center;
	width: 100%;
	font-size: calc(0.5em + 0.25vw);
	font-family: var(--primary-font);
	text-transform: uppercase;
}

nav span,
nav a {
	margin-right: 2em;
	color: inherit;
}

nav a:hover {
	text-decoration: underline;
	text-underline-offset: 8px;
}

main {
	position: fixed;
	font-family: var(--secondary-font);
	padding: 1rem;
}

aside {
	z-index: 2;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.bio {
	font-size: 1.5rem;
	text-align: justify;
}

.horizontal--scroll {
	position: absolute;
	bottom: 0;
}

.img--wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	height: 50vh;
}

.img--wrapper img {
	width: 40vh;
	height: auto;
	z-index: -1;
}

.img__01 {
	margin: 2rem 1rem;
}
