@import 'fonts.css';

:root {
	--sans-serif-font: 'PP Neue', sans-serif;
	--secondary-font: 'Arial Narrow', 'Arial', sans-serif;
	--primary-font: serif;
	--text-color: #0f1312;
	--menu-color: #551ae4;
	--highlight-color: #b99b40;
	--text-color-secondary: #83eeb8;
	font-family: var(--primary-font);
	color: var(--text-color);
	font-size: 24px;
}

::selection {
	/* color: var(--text-color-secondary); */
	background-color: var(--text-color-secondary);
}

html,
body {
	padding: 0;
	touch-action: manipulation;
	cursor: ew-resize;
}

body {
	width: 100vw;
	overflow-y: hidden;
	overflow-x: scroll;
}

a {
	text-decoration: none;
}

a:hover {
	background-color: var(--highlight-color);
}

aside p, nav span, .img--wrapper img:hover  {
	cursor: ew-resize;
}

aside a {
	cursor: crosshair;
	text-decoration: underline;
	text-underline-offset: 6px;
}

aside a:hover {
	text-decoration: none;
	background-color: var(--highlight-color);
		text-decoration: underline;
	text-underline-offset: 4px;
}

em {
	font-style: normal;
	font-family: var(--sans-serif-font);
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: var(--menu-color);
	align-items: center;
	width: 100%;
	font-size: calc(0.5em + 0.25vw);
	font-family: var(--primary-font);
}

nav span,
nav a {
	margin-right: 2em;
	color: inherit;
}

nav a:hover {
	text-decoration: underline;
	text-underline-offset: 8px;
	color: var(--text-color);
  background-color: #fb9d00;
	cursor: crosshair;

}

main {
	position: fixed;
	font-family: var(--secondary-font);
	padding: 0 1rem;
	line-height: 2rem;
	font-size: 1.85rem;
  cursor: default;
 
}


aside p {
	margin-top: 0.75rem;
	font-size: 1.85rem;

}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.bio {
	font-size: 1.5rem;
	text-align: justify;
}

.horizontal--scroll {
	position: absolute;
	bottom: 0;
	z-index: -5;
}

.img--wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	height: 50vh;
}


.img__01 {
	margin: 8% -8px;
	width: 33vh;
	height: auto;
}

.img__02 {
	margin: 0rem 22% 12rem 22%;
	width: 12vh;
	height: auto;
}

.img__03 {
	margin: 20% -12%;
	width: 360px;
	height: auto;
}

.img__04 {
	margin: 0 10%;
	height: 240px;
	width: auto;
}
.img__05 {
	margin-bottom: 7%;
	margin-left: 20%;
	height: 69vh;
	width: auto;
}
.img__06 {
	margin: 0 0 auto 12vw;
	width: 240px;
	height: auto;
}

.img__07 {
	margin: 7% 1%;
	height: 240px;
	width: auto;
}
.img__08 {
	margin: 7% 1%;
	height: 240px;
	width: auto;
}


/* Breakpoint */

@media (max-width: 990px) {
	aside p {
		font-size: 1.46rem;
		line-height: normal;
	}

	nav {
		font-size: calc(0.35em + 0.25vw);
	}
}

@media (max-width: 680px) {
	nav {
		justify-content: space-between;
	}
	nav a, nav span {
		margin-right: 0px; 
	}
}

@media (max-width: 460px) {
	body {
		width: 100vw;
	}

 main {
width: inherit;
	margin: 0 auto;
	padding: 0;
 }

 main aside p {
	width: 84%;
    margin: 0 auto;
    transform: translateX(-10px);
 }
}