@import 'fonts.css';

/* Global Styles */
:root {
	--primary-font: 'Arial', sans-serif;
	--secondary-font: 'Arial Narrow', 'Arial', sans-serif;
	--serif-font: serif;
	--primary-color: #0f1312;
	--secondary-color: #f1ebd9;
	--highlight-color: rgb(23, 38, 255);
	--link-color: #00ff33;
	font-family: var(--serif-font);
	color: var(-primary-color);
	font-size: 1.25rem;
	cursor: default;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	color: white;
	background: var(--text-color);
}

html {
	margin: 0;
	padding: 0;
}

body {
	width: 800px;
	margin: 0 1rem;
}

header {
	position: fixed;
	top: 4.5rem;
	left: 836px;
	font-family: var(--secondary-font);
	margin: 0 1rem;
}

header p {
	font-size: 0.7rem;
	text-transform: uppercase;
}

nav {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	border: 1px solid var(--highlight-color);
box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
border-radius: 8px;
}

nav a {
	text-decoration: none;
	padding: 0 1rem;

}

.title {
	text-transform: uppercase;
}

.title {
	font-family: var(--secondary-font);
	text-align: left;
}

.note {
	font-family: var(--serif-font);
	font-weight: normal;
	line-height: 1.25;
	border-left: 4px solid var(--link-color);
	padding: 0 1rem;
	font-size: 0.75rem;
}

.note h5 {
	margin: 1rem 0 0 0;
	text-decoration: underline;
	text-underline-offset: 3px;
}

a {
	color: var(--highlight-color);
	font-weight: normal;
	text-decoration: underline;
	text-underline-offset: 2px;
}

a:focus,
a:hover {
	cursor: help;
	background-color: var(--highlight-color);
	color: var(--secondary-color);
}

main {
	overflow-y: scroll;
	padding: 0 0.5rem;
	font-size: 1rem;
}

h3,
h5 {
	font-family: var(--secondary-font);
	text-transform: uppercase;
	font-weight: normal;
}

p {
	text-align: justify;
}

p.note {
	margin-top: 0;
}

section {
	margin-bottom: 2rem;
}

pre {
	display: inline-flex;
}
/* Images */
figure {
	width: 25%;
	height: auto;
	margin: 4rem 0;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: baseline;
}

figure::after {
	clear: both;
}

figcaption {
	/* font-size: 16px; */
	width: max-content;
	margin: 0.45rem;
}

figcaption p + p {
	font-style: italic;
}

img {
	width: 100%;
	transition-timing-function: ease-out;
	transition: 0.5s;
}

ul {
	list-style: square;
}

/* Breakpoint */
@media (max-width: 1240px) {
}

@media (max-width: 860px) {
	body {
		width: 95vw;
	}
}
