@import 'fonts.css';

/* Global Styles */
:root {
	--primary-font: 'Marion', serif;
	--secondary-font: 'Arial Rounded MT Bold', 'Arial', sans-serif;
	--link-font: 'Arial Narrow', 'Arial', sans-serif;
	--text-color: #0f1312;
	--link-color: #fff;
	--highlight-color: #b99b40;
	--text-color-secondary: #83eeb8;
	font-family: var(--primary-font);
	color: var(--text-color);
	font-size: calc(0.75rem + 0.5vw);
	cursor: crosshair;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
html {
	margin: 0;
	padding: 0;
}

::selection {
	color: white;
	background: var(--text-color);
}

body {
	display: grid;
	grid-template-columns: 50% 50%;
  
	overflow: hidden;
	height: 100vh;
	position: relative;
}

header {
	border: 2px solid var(--text-color);
	margin: 0.65rem 0 0.65rem 0.65rem;
	border-radius: 12px;
	font-size: 2.5em;
  padding: 1rem;
  grid-column: 1;
  cursor: zoom-in
}

header:hover {
font-size: 4.5rem;
    transition: 0.15s linear;
    grid-column: 1 / 3;
    height: -webkit-fill-available;
    position: fixed;
    background: white;
}

.title {
	text-transform: uppercase;
	text-align: left;
}

nav {
	margin: 2rem 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

nav a,
section a {
	color: var(--text-color);
	font-weight: normal;
	padding-right: 0.35rem;
	text-decoration: none;
}

a:focus,
a:hover {
	cursor: help;
	text-decoration: underline;
	text-underline-offset: 8px;
}

main {
	overflow-y: scroll;
  padding: 1.65rem;
  font-size: 2rem;
    grid-column: 2;
    cursor: ns-resize;
}

section {
	margin: 1.5rem 0;
}

h3 {
	margin: 0 0 0.75rem 0;
	font-family: var(--secondary-font);
	text-transform: uppercase;
	font-weight: normal;
}

/* ABOUT SECTION */
.about {
	margin: 0;
}

p {
	margin: 0;
	text-align: justify;
}

/* NEWS SECTION */
.news {
	margin-bottom: 1rem;
  /* font-size: 1.5rem; */
}

.news .news--description {
	font-style: italic;
	font-size: 1.5rem;
	text-align: left;
}

.news .news--link {
	text-decoration: underline;
	text-underline-offset: 4px;
	font-style: normal;
	font-family: var(--link-font);
	/* font-size: 0.75rem; */
	padding: 0 4px;
	margin-left: 0.25rem;
}

.news .news--link:hover {
	background-color: var(--text-color);
	color: var(--link-color);
	text-decoration: none;
  	cursor: help;
}

/* PROJECT SECTION */
.projects__listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 1rem;
}

.projects__listing .projects--year {
  font-size: 1.35rem;
  border: 1px dotted var(--text-color);
  border-radius: 10rem;
  padding: 0 10px;
  font-family: var(--link-font);
}

.projects__listing .projects--title {
  padding: 0;
}

.projects__listing .projects--title em {
  font-family: var(--secondary-font);
  font-size: 1rem;
}

.projects__listing .projects--year, .projects__listing .projects--title, .projects__listing .projects--location, .projects__listing .projects--description {
  margin-right: 0.5rem;
}

.projects__listing .projects--description {
  font-size: 1rem;

}

/* Images */
figure {
	width: 25%;
	height: auto;
	margin: 4rem 0;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: baseline;
}

figure::after {
	clear: both;
}

figcaption {
	/* font-size: 16px; */
	width: max-content;
	margin: 0.45rem;
}

figcaption p + p {
	font-style: italic;
}

img {
	width: 100%;
	transition-timing-function: ease-out;
	transition: 0.5s;
}


/* Breakpoint */
@media (max-width: 788px) {
	body {
		display: block;
		/* font-size: 0.55rem; */
	}

	header {
		position: fixed;
		bottom: 0;
		background-color: white;
		width: 100%;
		padding: 0.3rem 0;
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.title {
		/* font-size: 0.55rem; */
		padding-left: 0.35rem;
	}

	nav {
		margin: 0.15rem 0.35rem;
	}

	nav a:nth-of-type(4) {
		padding-right: 0;
	}
}
