:root {
	--primary-font: 'Arial', sans-serif;
	--secondary-font: 'Times New Roman', serif;
	--tertiary-font: 'Arial Narrow', sans-serif;
	--text-color: #3d342b;
	--highlight-color: #84ff00;
	--link-color: #4c00fd;
	--white-color: #fff;
	font-family: var(--primary-font);
	color: var(--text-color);
	font-size: 1em;
}

::selection {
	background-color: var(--link-color);
	color: var(--white-color);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

/* --------centered menu-------- */
.menu__wrapper {
	z-index: 3;
	position: relative;
	position: fixed;
}

.width,
.height {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	position: absolute;
	top: 0;
	transform: translate(-50%, -50%);
	border: 0.5px solid var(--text-color);
}

.width {
	width: 100vw;
}

.height {
	height: 100vh;
}

.menu__items {
	position: fixed;
	transform: translate(-50%, -50%);
	text-align: center;
	display: grid;
  font-family: var(--tertiary-font);
}

.menu__items a {
	margin: -0.5px auto;
	text-decoration: none;
	color: var(--text-color);
	text-transform: uppercase;
	/* font-weight: 600; */
	background-color: var(--white-color);
	border: 1px solid var(--text-color);
  border-radius: 1rem;
  width: min-content;
  padding: 0.15rem 0.55rem;
}

.menu__items a:hover {
	background-color: var(--text-color);
	color: var(--white-color);
}

/* --------background img-gallery-------- */
.img-gallery__wrapper {
	width: 150%;
}

.img-gallery__wrapper img {
	opacity: 0;
	width: 260px;
	height: auto;
}

.img-gallery__wrapper img:hover {
	opacity: 1;
	transition: 0.15s linear;
}
