:root {
	--primary-font: 'Arial', sans-serif;
	--secondary-font: 'Times New Roman', serif;
	--tertiary-font: 'PP Neue', sans-serif;
	--text-color: #3d342b;
	--highlight-color: #84ff00;
  --link-color: #4c00fd;
  --white-color: #FFF;
	font-family: var(--primary-font);
	color: var(--text-color);
	font-size: 1em;
}

::selection {
  background-color: var(--link-color);
  color: var(--white-color);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* --------centered menu-------- */
.menu__wrapper {
  z-index: 3;
}

.menu__wrapper div {
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	position: absolute;
}

.width {
	width: 100%;
}

.height {
	height: 100%;
}

.menu__wrapper p {
	margin: 0;
	padding: 0;
}

.menu__wrapper p:hover {
	display: none;
}


/* --------background img-gallery-------- */

.img-gallery__wrapper {
  z-index: -1;
}